[flake8]
select = B,B9,BLK,C,E,F,I,S,W
max-line-length = 150
ignore = 
    # E203 whitespace before ‘:’ (Not PEP8 compliant, Python Black)
    E203 
    # E501 line too long (82 > 79 characters) (replaced by B950 from flake8-bugbear, https://github.com/PyCQA/flake8-bugbear)
    E501 
    # W503 line break before binary operator (Not PEP8 compliant, Python Black)
    W503 

# flake8-import-order
import-order-style = google
application-import-names = example_cli,tests

# Bandit issues with assert
per-file-ignores = tests/*:S101
